.secret
.ssh/*
home/.oh-my-zsh/locals.zsh
home/.oh-my-zsh/log/.zsh_history
home/.oh-my-zsh/projects.zsh
home/.oh-my-zsh/custom/*
!home/.oh-my-zsh/custom/example
!home/.oh-my-zsh/custom/example.zsh
home/.oh-my-zsh/*.swp
!home/.oh-my-zsh/custom/example.zshcache
home/.oh-my-zsh/cache/
